.navList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .navListLink {
    color: var(--nav-text);
    transition: opacity 0.2s ease-in;
  }
  
  .navListLink:hover {
    opacity: 0.8;
  }
  .navListLink.active {
    text-decoration: #1d58b1  underline 3px;
  }